<div class="navbar-wagon navbar-fixed-top">
  <%= link_to cocktails_path , class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg", alt: "logo", class: "img-circle" %>
  <% end %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1494847834698-2f5d9138a3ce?ixlib=rb-0.3.5&s=438e941942bc4dfbb89f09e03b7b3645&auto=format&fit=crop&w=1100&q=80');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
    <h2>Edit</h2>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :card_picture %>
      <%= f.input :card_picture_cache, as: :hidden %>
      <%= f.input :show_picture %>
      <%= f.input :show_picture_cache, as: :hidden %>
      <%= f.submit class: "btn-cocktail width-100" %>
    <% end %>
  </div>
</div>
