<div class="navbar-wagon navbar-fixed-top">
  <%= link_to cocktails_path , class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", alt: "logo", class: "img-circle" %>
  <% end %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path('EditCocktail') %>');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
    <h2>Edit</h2>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :card_picture %>
      <%= f.input :card_picture_cache, as: :hidden %>
      <%= f.input :show_picture %>
      <%= f.input :show_picture_cache, as: :hidden %>
      <%= f.submit class: "btn-cocktail width-100" %>
    <% end %>
  </div>
</div>
