<div class="navbar-wagon navbar-fixed-top">

  <!-- Logo -->
  <%= link_to root_path , class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", alt: "logo", class: "img-circle" %>
  <% end %>

  <div class="navbar-wagon-right">
    <%= link_to 'Add cocktail', new_cocktail_path, class: "btn-cocktail" %>
  </div>
</div>

<div class="container">
  <div class="cocktail-container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.card_picture %>);">
            <h3><%= link_to cocktail.name, cocktail_path(cocktail), class: "card-description" %></h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


