<div class="navbar-wagon navbar-fixed-top">

  <%= link_to cocktails_path , class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg", alt: "logo", class: "img-circle" %>
  <% end %>
</div>

<div class="banner show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @cocktail.show_picture %>);">
  <h2><%= @cocktail.name %></h2>
</div>

<div class="container">
  <div class="info-container">
    <div class="info-card description">
      <h3>Description</h3>
      <p><%= @cocktail.description %></p>
      <%= link_to 'Edit cocktail', edit_cocktail_path(@cocktail), class: "btn-cocktail" %>
      <%= link_to 'Delete cocktail', cocktail_path(@cocktail), method: :delete, class: "btn-cocktail" %>
    </div>
    <div class="info-card ingredients">
      <h3>Ingredients</h3>
      <% @cocktail.doses.each do |dose| %>
        <p><strong><%= dose.ingredient.name %></strong> - <%= dose.description %> (<%= link_to 'delete', dose_path(dose), method: :delete %>)</p>
      <% end %>
      <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail), class: "btn-cocktail" %>
    </div>
  </div>
</div>





