<div class="navbar-wagon navbar-fixed-top">

  <%= link_to cocktails_path , class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg", alt: "logo", class: "img-circle" %>
  <% end %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path('AddIngredient') %>');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
    <h2>Add an ingredient</h2>
    <%= simple_form_for ([@cocktail, @dose]) do |f| %>
      <%= f.association :ingredient, collection: Ingredient.order("name ASC") %>
      <%= f.input :description %>
      <%= f.submit class: "btn-cocktail width-100" %>
    <% end %>
  </div>
</div>



