<div class="navbar-wagon navbar-fixed-top">

  <%= link_to cocktails_path , class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg", alt: "logo", class: "img-circle" %>
  <% end %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path('AddReview') %>');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
    <h2>Add a review</h2>
    <%= simple_form_for ([@cocktail, @review]) do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit class: "btn-cocktail width-100" %>
    <% end %>
  </div>
</div>
